body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

main {
  flex: 1;
  padding: 3rem;
}

footer {
  background: var(--yi-surface);
  color: var(--yi-on-surface);
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 -2px 8px var(--yi-divider);
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: var(--yi-h1-color);
  margin-bottom: 1rem;
}

/* Header layout */
.header {
  width: 100%;
  background: var(--yi-surface);
  color: var(--yi-on-surface);
  box-shadow: 0 2px 8px var(--yi-divider);
}

.header__container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  position: relative;
}

.header__logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__logo img {
  height: 3rem;
}

.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 85vw;
  max-width: 15rem;
  background: var(--primary-bg, #fff);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 10;
  /* border-radius: 0 0 8px 8px; */
}

.header__nav ul {
  /* list-style: none; */
  /* margin: 0; */
  /* padding: 1rem; */
  flex-direction: column;
  padding-top: 2rem;
}

.header__nav a {
  display: block;
  padding: 1rem;
  color: var(--yi-primary-dark);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}


.header__nav li:hover {
  background: var(--yi-nav-hover-bgcolor);
}

.header__nav a:hover {
  color: var(--yi-nav-hover-color);
}

.header__nav li.active {
  background-color: var(--yi-nav-active-bgcolor);
}

.header__nav li.active a {
  color: var(--yi-nav-active-color);
}


/* Botão hamburguer mostra menu no mobile */
/* .header__menu-btn:focus + .header__logo + .header__nav,
.header__menu-btn:active + .header__logo + .header__nav {
  display: block;
} */

.header__nav.active {
  display: block;
}

.header__btn {
  background: transparent;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  /* margin-left: 1rem; */
  border-radius: 50%;
  padding: 0.5rem;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__btn:hover {
  background: var(--yi-primary-light);
  outline: none;
}

.header__btn i {
  font-size: 1.25rem;
  color: var(--yi-primary);
  transition: color 0.2s;
}

.header__btn:hover i {
  color: var(--yi-primary-dark);
}

.header__user-btn {
  margin-left: auto;
  /* display: flex;
  align-items: center; */
}

.header__close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 20;
  background-color: transparent;
  border: none;
}

.header__close-btn i {
  font-size: 1.25rem;
  color: var(--yi-primary-light);
  transition: color 0.2s;
}

.header__close-btn:hover i {
  color: var(--yi-primary-dark);
}

.main__description {
  margin-bottom: 2rem;
}

/* Medium (Tablet) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 2rem;
  }

  .header__logo {
    flex: 0;
    margin-right: 2rem;
  }

  .header__logo img {
    height: 48px;
  }

  .header__nav {
    display: block !important;
    position: static;
    width: auto;
    max-width: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }

  .header__nav ul {
    display: flex;
    gap: 2rem;
    margin-top: 0;
    padding: 0;
    flex-direction: row;
  }

  .header__nav li {
    border-radius: 6px;
  }

  .header__menu-btn {
    display: none !important;
  }

  .header__close-btn {
    display: none !important;
  }
}

/* Large (Desktop) */
@media (min-width: 992px) {

}

/* Extra Large (Large Desktop) */
@media (min-width: 1200px) {
  
}