<div class="header__container">
  <button class="header__btn header__menu-btn" aria-label="Abrir menu">
    <i class="fa-solid fa-bars"></i>
  </button>
  <a href="index.html" class="header__logo">
    <img src="images/logo.png" alt="YUMISTRY Logo">
  </a>
  <nav class="header__nav">
    <button class="header__close-btn" aria-label="Fechar menu">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <ul>
      <li class="active"><a href="index.html#home">Home</a></li>
      <li><a href="pages/recipes.html">Recipes</a></li>
      <li><a href="pages/nutrients.html">Nutrients</a></li>
    </ul>
  </nav>
  <button class="header__btn header__user-btn" aria-label="Usuário">
    <i class="fa-solid fa-user"></i>
  </button>
</div>